.special{
height: 150px;
width: 100%;
background-color: grey;
margin-bottom: 20px;


}

.about{
    text-align: center;
    font-size: 50px;
    color: brown;
    padding-bottom: 80px;
}
.aboutvegas{
    margin: 10px 10px;
}
.vegasinfo{
    text-align: center;
    padding: 30px 30px;
    font-size: 20px;
    color: purple;
    

}
.info-pic{
    display: flex;
    margin-bottom: 10px;
}
.our-specials{
    height: 70px;
    width: 100%;
    background-color: rgb(150, 177, 175);
}
.special-head{
    text-align: center;
    font-size: 40px;

}
.light-casino{
    display: flex;
    background-color: bisque;
    margin-bottom: 10px;
}
.light-text{
    text-align: center;
}
.light-img{
    height: 700px;
    width: 650px;
    padding-left: 20px;
    
}
.about-lights{
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
    font-weight: bolder;
}

.casino-text{
    text-align: center;
    

}
.casino-img{
    height: 700px;
    width: 650px;
    
}
.about-casino{
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
    font-weight: bolder;
}